// 表格单元格高度
@td-height: 32px;
//表格标题颜色
@table-th: #dcdee2;
//表格内容颜色
@table-td: #f1f3f7;
// 表格背景色
/deep/.k-table-body {
  background-color: @table-td;
}
//背景透明
.color-transparent() {
  background-color: transparent;
}
//标签圆点背景色透明
/deep/.k-tag-dot {
  border: none !important;
  .color-transparent() !important;
}
//input框背景颜色透明
/deep/.k-input {
  .color-transparent();
}
//select框背景透明
/deep/.k-select-selection {
  .color-transparent();
}
// 标签图标
.table-content-title-icon {
  width: 3px;
  height: 5px;
  border: 2px solid #2d8cf0;
}
.table-content-title-content {
  font-size: 14px;
  padding-left: 8px;
}
// 表格颜色高度
/deep/.k-table {
  td {
    background-color: @table-td;
    height: @td-height;
  }
  th {
    background-color: @table-th;
    height: @td-height;
  }
}
//两端对齐
.flex-space-between() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// 表单上下间距
.k-form-item {
  margin-bottom: 18px;
  vertical-align: top;
  zoom: 1;
}
//左右两侧位置
.relevance-content {
  padding: 5px 20px 0px 1px;
}
//透明遮罩层表单只读
.shade {
  position: relative;
}
.shade:before {
  content: '';
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btn-left {
  margin-left: 5px;
}
/deep/[v-cloak] {
  display: none;
}
// .disabled {
//   pointer-events: none;
//   color: #ccc;
// }
