html,
body {
  overflow: hidden;
}

.circle-spin-icon-load {
  animation: ani-circle-spin 1s linear infinite;
}

@keyframes ani-circle-spin {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.k-spin-fix {
  background-color: rgba(28, 36, 56, 0.5);
}

.large-modal {
  .k-modal {
    top: 30px;
  }
  .k-modal-header {
    padding: 8px 16px;
  }
  .k-modal-close {
    right: 20px;
    top: 5px;
  }
}
