html,
body {
  overflow: hidden;
}

.circle-spin-icon-load {
  animation: ani-circle-spin 1s linear infinite;
}

@keyframes ani-circle-spin {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.k-spin-fix {
  background-color: rgba(28, 36, 56, 0.5);
}

.k-context-menu {
  border: 1px solid #dddddd;
}

.k-modal-wrap,
.k-modal-mask {
  z-index: 1002;
}

.large-modal {
  .k-modal {
    top: 30px;
  }
  .k-modal-header {
    padding: 8px 16px;
  }
  .k-modal-close {
    right: 20px;
    top: 5px;
  }
}

.border-card {
  border: 1px solid #dddddd;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 12px;
}

.form-editor-wrapper {
  background: #ffffff;
  .form-editor-header {
    border-bottom: 1px solid #e9eaec;
    margin-bottom: 8px;
    padding-bottom: 5px;
  }
  .k-form-item {
    margin-bottom: 0;
  }
  .k-input-number,
  .k-input-wrapper {
    width: 120px !important;
  }
  .k-form-item:nth-child(even) {
    margin-left: 10px;
  }
  .form-editor-buttons {
    display: block !important;
    text-align: right;
    margin-top: 5px;
    padding: 0 5px;
    .k-btn {
      margin-left: 8px;
    }
  }
}
